[submodule "Dependencies/tint"]
	path = Dependencies/tint
	url = https://dawn.googlesource.com/tint
[submodule "Dependencies/glslang"]
	path = Dependencies/glslang
	url = https://github.com/KhronosGroup/glslang
